body {
  background-image: linear-gradient(#d3faff, #52bdee);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

img {
  max-width: 100%;
}

/* Banner Stuff */
#banner {
  margin: 0em;
}

/* mobile Style */
#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
  box-shadow: 0em 0.5em .5em #363636;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

header img {
  display: block;
  width: 95%;
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000;
  align-self: left;

}

main {
  margin-left: 1em;
  margin-right: 1em;
  background: #ffffff;
  border: 2px solid #000;
  text-align: center;
  border-radius: .5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

h2 {
  text-align: center;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px #000, 1px 1px #000, -1px 1px #000;
  width: auto;
  text-decoration: underline;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: rgb(103, 155, 223);
  border-radius: 0em 5em 0em 5em;
}

h3 {
  text-align: center;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px #000, 1px 1px #000, -1px 1px #000;
  width: 6em;
  text-decoration: underline;
  margin-top: 0.5em;
  margin-bottom: 0em;
  background-color: rgb(103, 155, 223);
  border-radius: 0em 5em 0em 5em;
}

p {
  text-align: left;
}

article {
  text-align: left;
  padding: 2px;
  margin: 0.5em;

}

article ul {
  background-color:rgb(103, 155, 223);
  margin-top: 0.5em;
  margin-left: 1em;
  padding: .5em;
  padding-left: 1.25em;
  border-radius: 0.5em;
}

article ul li {
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px #000, 1px 1px #000, -1px 1px #000;
}

ul li {
  text-align: left;
}

aside {
  width: 45%;
  float: right;
  font-style: italic;
}

.bold {
  font-style: bold;
}

/* Carousel Stuff */


footer { 
  text-align: center;
  font-size: .5em;
  background: #ffffff;
  width: 50%;
  border-radius: .5em;
  border: 2px solid #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 5px;
}

/* Nav Styles */
nav {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px #000, 1px 1px #000, -1px 1px #000;
}

nav ul {
  padding: 0;
  margin-top: .2em;
  margin-bottom: .2em;
}

nav li{
  background-image: linear-gradient( 109.6deg, rgb(235, 212, 245) 11.2%, #1698ee 91.1% );
  border: 1px solid #000;
  border-radius: .5em;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: .1em;
  padding: 0.2em;
  width: 95%;
  text-align: center;
}



/* Dropdown stuff */
.dropbtn {
  background: none;
  border: none;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px #000, 1px 1px #000, -1px 1px #000;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1em;
  font-weight: bold;
  font-style: none;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: .5em;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-content a {

  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px #000, 1px 1px #000, -1px 1px #000;
  padding: .5em;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1em;
}

.dropdown-content a:hover {
  background-color: rgb(131, 124, 148);
}

.dropdown:hover .dropdown-content{
  display: block;
}

/* Nav Colors */
nav li a {
  color: #ffffff;
  text-decoration: none;
}

nav li a:hover, .dropbtn:hover{
  font-style: italic;
}

/* Tables */
caption {
  font-size: 2em;
  font-style: bold;
}

table {
  border: 0.1em solid #000000;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

th, td {
  border: 0.1em solid #000000;
  padding: 1em;
}

th {
  background-color:rgb(103, 155, 223);
  font-size: 1.5em;
  padding: .8em;
}

td {
  background-color:rgb(208, 225, 247);
}

.altRow {
  background-color:rgb(234, 238, 243);
}

/* Forums */
input, select, textarea {
  display: block;
  margin-bottom: 1em;
}

label {
  display: block;
  text-align: left;
}

.radioStyle label, .radioStyle input {
  display: inline-block;
}

.radioStyle {
  text-align: left;
}

form ul {
  list-style-type: none;
}

.chkbx {
  display: inline-block;
}

/* View Ports */

.mobile {
  display: inline;
}
.desktop {
  display: none;
}

.searchBar {
  width: 300px;
}

/* Tablet */
@media only screen and (min-width: 660px) {

}

/* Desktop */
@media only screen and (min-width: 830px) {

  /* body */
  header {
    width: 100%;
    box-shadow: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: left;
  }
  
  header img {
    display: block;
    width: 20%;
    border-radius: 1em;
    margin-left: 2em;
    margin-right: auto;
    border: 2px solid #000;
    text-align: left;
  }

  #mainPic {
    width: 60%;
  }

  p {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  /* Nav */
  nav { 
    margin: 2em;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    margin-bottom: .4em;
    background-color:rgb(103, 155, 223);
    border-top: 1px solid #1d1d1c;
    border-bottom: 1px solid #1d1d1c;
  }

  nav ul {
    display:block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  nav li {
    list-style-type: none;
    display: inline-block;
    width: 10%;
    min-width: 6%;
    border-radius: 0em;
    margin: 0;
    background: none;
    border: none;
    font-size: 1.2em;
  } 

  /* Drop Downs */
  .dropdown {
    display: inline-block;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(103, 155, 223);;
    border: 1px solid #000;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(233, 232, 232, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    text-align: center;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  fieldset{
    border-style: none;
  }

  fieldset img {
    margin-left: 2em;
    margin-right: 2em;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: inline;
  }

  main {
    display:block;
  }

  #map{
    position: inherit;
    height: 600px;
    max-width: 75%;
    outline-style: solid;
    margin-bottom: .5em;
  }

  #links {
    width: 25%;
    float: right;
    margin-top: 0px;
  }

  ul {
    list-style: none;
    padding-left: 0px;
    margin-left: .5em;
  }
  #links li {
    padding: .25em;
    background-color:rgb(103, 155, 223);
    border: solid;
    margin-top: .25em;
    margin-bottom: .25em;
  }
  #links a {
    color: white;
    font-size: large;
    text-shadow: -1px -1px 0 #000, 1px -1px #000, 1px 1px #000, -1px 1px #000;
  }

}