<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Heights Ladder Co</title>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/stylesSpecials.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="JavaScript/accordion.js"></script>
    <script src="JavaScript/mobileNavFunction.js"></script>

    <script> $(function(){ $("#header").load("assets/header.html");  }); </script> 
    <script> $(function(){ $("#nav").load("assets/nav.html");  }); </script> 
    <script> $(function(){ $("#footer").load("assets/footer.html");  }); </script> 

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    
    <div id="header"></div>
    <div id="nav"></div>
    
    <div id="container">
      <main>

      </main>
    </div>

    <div if="footer"></div>
  </body>

</html>